        <h3>Your Travis CI Trial</h3>

        <p>
          The trial for your Travis CI account <strong>"<%= @owner[:name].blank? ? @owner[:login] : "#{@owner[:name]} (GitHub name: #{@owner[:login]})" %>"</strong> is about halfway now.
        </p>

        <p>
          But not to worry, you have <strong><%= @builds_remaining %> builds left</strong> to experiment and see if our services and your project match.
        </p>

        <p>
          This is a great moment to ask you if you've been able to use our services productively.  Please do shoot us an <a href="mailto:support@travis-ci.com">email</a> if there are any problems you're running into.  We're always happy to take a look!
        </p>

        <p>
          Thank you and have a great day!
        </p>

        <p>
          The Travis CI Team
        </p>
