        <h3>Your Travis CI Trial</h3>

        <p>
          Welcome to Travis CI! Your account <strong><%= @owner[:name].blank? ? @owner[:login] : "#{@owner[:name]} (GitHub name: #{@owner[:login]})" %></strong> is now successfully set up for your trial.
        </p>

        <p>
          You have <strong><%= @builds_remaining %> builds left</strong> to test things out.
        </p>

        <p>
          To ensure uninterrupted service, <a href="https://billing.travis-ci.com/subscriptions/<%= @owner[:billing_slug] %>">sign the account up for a subscription</a> before the trial runs out. Note that you need to be an owner of the account to sign up for a subscription.
        </p>

        <p>
          If <strong>you need more trial builds</strong>, simply <strong>reply to this email</strong>, and we can add more builds for you!
        </p>

        <p>
          And if you have any questions, just shoot us an <a href="mailto:support@travis-ci.com">email</a>, we are here to help :)
        </p>

        <p>
          Thank you and have a great day!
        </p>

        <p>
          The Travis CI Team
        </p>
