<tr>
  <td id="account-activated-message-section" align="center" valign="top" style="padding-bottom: 40px;">
    <h1 id="account-activated-message-header">Hello <%= @owner[:name].blank? ? @owner[:login] : "#{@owner[:name]} (GitHub name: #{@owner[:login]})"%>!</h1>
    <p id="account-activated-message" style="margin: 0px; font-size: 18px;">
      Please take a moment to confirm your account.
    </p>
    <p><a href="<%=@url%>" target="_blank" class="account-activated-button">Confirm your account</a></p>
    <br/>
    <p>Note: you must confirm your account to run builds on Travis CI. The confirmation link will expire after <%= Time.now.utc + (30 * 60) %></p>
  </td>
</tr>