            <tr>
              <td id="plan-message-section" align="center" valign="top" style="padding-bottom: 40px;">
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  Builds have been temporarily disabled for the repository a href="<%= @repository_url %>"><%= @repository_url %></a> 
                  due to a negative credit balance on your account <a href="<%= @plan_url %>"><%= @plan_url %></a>
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  Please go to the Plan page to replenish your credit balance to keep building with Travis CI.
                </p>
              </td>
            </tr>