            <!-- Welcome Message Section -->
            <tr>
              <td id="plan-message-section" align="center" valign="top" style="padding-bottom: 40px;">
                <h1 id="plan-message-header">
                  Welcome to Travis CI, <%= @owner[:name].blank? ? @owner[:login] : @owner[:name] %>!
                </h1>
                <% unless Travis.config.enterprise? -%>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  Please select a plan in order to use Travis CI.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  Use the `Sign up now` button below to sign up for a plan to ensure the builds for your private repositories continue uninterrupted.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px;">
                  If you're building open-source public repositories and want to signup for an open-source plan, please <a href="mailto:support@travis-ci.com">contact</a> Travis CI.
                </p>
                <% else %>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                You are now able to use Travis CI. You need to be logged into your version control system instance to be automatically logged into the Travis CI web user interface.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px;">
                <a href="<%=Travis.config.enterprise_platform.host%>">GO TO TRAVIS</a>
                </p>
                <% end -%>
              </td>
            </tr>
