            <!-- Welcome Message Section -->
            <tr>
              <td id="plan-message-section" align="center" valign="top" style="padding-bottom: 40px;">
                <h1 id="plan-message-header">
                  Welcome to Travis CI, <%= @owner[:name].blank? ? @owner[:login] : @owner[:name] %>!
                </h1>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  You are on <%= @plan %>.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  You have 10,000 credits left - these will begin counting down automatically as soon as you run your first build.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  You can use your credits to build on both private and open-source repositories using Linux, macOS, and Windows OS.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px; margin-bottom: 10px;">
                  Use the `Sign up now` button below to sign up for a bigger plan to ensure the builds for your private repositories continue uninterrupted.
                </p>
                <p id="plan-message" style="margin: 0px; font-size: 18px;">
                  If you're building open-source public repositories and want to signup for an open-source plan, please <a href="mailto:support@travis-ci.com">contact</a> Travis CI.
                </p>
              </td>
            </tr>
            <!-- Builds left Section -->
            <tr>
              <td id="builds-left-section" align="center" valign="top" style="padding-bottom: 20px;">
                <img id="build-crane-logo" src="https://gallery.mailchimp.com/2c4f451f4059350287b951060/images/7120d93f-1748-4517-874e-67a3c36f5ebf.png" alt="Build Crane">
                <p id="plan-builds-remaining" style="margin: 0px; padding: 10px 0px 20px 0px; font-size: 26px; font-weight: 300; line-height: 125%;
                          letter-spacing: normal; color: #0068FF;">You have 10,000 Credits left for building on Travis CI!</p>
              </td>
            </tr>
