<p>Hi <%= @user_name %>!</p>

<p>This is a quick message to notify you that your personal data report is available for your review at this link:</p>

<p><%= link_to @export_url, @export_url %></p>

<p>The report will be available to you for 3 days. Please have a look soon and let us know at support@travis-ci.com if you have any questions or feedback.</p>

<p>Thanks again!<br/>
The Travis CI Team</p>
