<p>Hi!</p>

<p>This is to confirm that we have closed your account, per your request on <%= @request_date.strftime('%Y-%m-%d') %>. Please send us an email at support@travis-ci.com if you have any questions or concerns. Thank you for using Travis CI!</p>

<p>The Travis CI Team</p>

