<p>Welcome to the beta!</p>

<p>We’re excited to welcome you into the beta to start migrating <%= @user_name %>’s public repositories to travis-ci.com</p>


<p>Ready to get started? <a href="https://travis-ci.com/account/migrate">Jump into the migrate tab of your account</a></p>


<p>If you have any questions, please <a href="https://docs.travis-ci.com/user/migrate/open-source-repository-migration/">check the documentation</a> or reply to this email.</p>

<p>The Travis CI Team</p>

