<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <style type="text/css" media="screen">
      p {
        margin: 0px;
      }

      #travis-ci-email-container {
        height: 100%;
        width: 100%;
        padding: 10px;
        font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
        line-height: 150%;
        text-align: center;
        color: #333333;
        background-color: #F4F5F9;
        background-image: url('https://s3.amazonaws.com/travis-email-assets/build_background.png');
      }

      #email-content-container {
        width: 500px;
        padding: 32px;
        background-color: #FFFFFF;
      }

      #cancellation-header {
        color: #e23a3c;
        font-size: 24px;
      }
      
      #questions-section {
        font-size: 20px;
      }

      #email-footer-section {
        margin: 0px;
        line-height: 150%;
        font-size: 12px;
        font-size: 11.6px;
      }
    </style>
  </head>

  <body style="min-width: 100%;height: 100%;margin: 0;padding: 0;">

    <table
      id="travis-ci-email-container"
      align="center"
      border="0"
      cellpadding="0"
      cellspacing="0"
      height="100%"
      width="100%"
      style="height: 100%;width: 100%;padding: 10px;font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;line-height: 150%;text-align: center;color: #333333;background-color: #F4F5F9;background-image: url(https://s3.amazonaws.com/travis-email-assets/build_background.png);">
      <!-- Main Content Section -->
      <tr>
        <td align="center" valign="top" style="padding-bottom: 20px;">
          <table id="email-content-container" border="0" cellpadding="0" cellspacing="0" style="width: 500px; padding: 32px; background-color: #FFFFFF;">
            <tr>
              <td>
                <h2 id="cancellation-header" style="color: #e23a3c;">We're sorry to see you go but we've cancelled your subscription</h2>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <!-- Email Footer Section -->
      <tr>
        <td align="center" valign="top">
          <table id="travis-ci-email-footer-container" border="0" cellpadding="20" cellspacing="0" style="width: 500px;">
            <tr>
              <td id="questions-section" align="center" valign="top" style="color:#0068FF; font-weight: 300; font-size: 20px;">
                <span>Have any questions?</span>
                <span>
                  <a href="mailto:support@travis-ci.com" style="color: #0068FF">We're here to help.</a>
                </span>
              </td>
            </tr>
            <tr>
              <td id="travis-ci-footer-logo-section" style="text-align: center;">
                <%= link_to(image_tag("#{Travis.config.s3.url}/TravisCI-Logo-BW.png", alt: 'black and white travis ci logo'), 'https://travis-ci.com')%>
              </td>
            </tr>
            <tr>
              <td id="email-footer-section" style="color: #9EA3A8; line-height: 150%; text-align: center; color: #9EA3A8; padding-top: 0px; font-size: 12px; font-size: 11.6px;">
                <p style="margin: 0px;">
                  Travis CI GmbH, Rigaer Str. 8, 10427 Berlin, Germany | GF/CEO: Konstantin Haase, Fritz Thielemann |
                  <span>Contact: <%= link_to('contact@travis-ci.com', 'mailto:contact@travis-ci.com', style: 'color: #9EA3A8')%> | Amtsgericht Charlottenburg, Berlin, HRB 140133 B | Umsatzsteuer-ID gemäß §27 a Umsatzsteuergesetz: DE282002648</span>
                </p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
